{% for top in vhost_directories|dictsort %}
{% if top.0|is_dir %}
  <Directory "{{ top.0 }}">
{% else %}
  <Directory "{{ top.0|dirname }}">
    <Files "{{ top.0|basename }}">
{% endif %}
{% for data in top.1|dictsort %}
      {{ data.0 }} {{ data.1 }}
{% endfor %}
{% if top.0|is_file %}
    </Files>
{% endif %}
  </Directory>

{% endfor %}
